
@media (max-width: 600px) {
  .rs_character {
    width: 100px;
    height: 100px;
  }
}

@media (min-width: 601px) {
  .rs_character {
    width: 100px;
    height: 100px;
  }
}

.leader_skills {

}

.leader_skill_name {
  font-weight: bold;
}

.leader_skill_description {

}

.intro_message {
  font-size: 20px;
  text-align: center;
}

.weapon_headers {
  font-size: 20px;
  font-weight: bold;
}

.weapon_type_header {
  font-size: 20px;
  font-weight: bold;
}

.character_type_header {
  font-size: 20px;
  font-weight: bold;
}

.primary-filter {

}
