<!doctype html>
<html ng-app="app">
  <head>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-animate.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.1.2.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-smart-table/2.1.7/smart-table.min.js"></script>
    <script src="/static/app.js"></script>

    <link href="//bootswatch.com/superhero/bootstrap.min.css" rel="stylesheet">

  </head>
  <!-- Character Popup Modal TODO: Move this to another file! -->
  <script type="text/ng-template" id="popupCharacter.html">
    <div>
      <div class="modal-header">
          <h3 class="modal-title"><img src="{{char.IconUrl}}" style="width:100px"/>: <span>{{ char['Name'] }} ({{ char['RawName'] }})</span></h3>
      </div>
      <div class="modal-body">
          <ul>
              <li>
                Type: {{char['Type']}}
              </li>
              <li>
                HP: {{char['HP']}}
              </li>
              <li>
                SP: {{char['SP']}}
              </li>
              <li>
                ATK: {{char['Attack']}}
              </li>
              <li>
                DEF: {{char['Defense']}}
              </li>
              <li>
                CRIT: {{char['Crit']}}
              </li>
              <li>
                Passives:
                  <ul>
                    <li ng-repeat="passive in char['Passives'] track by $index"> {{passive}} </li>
                  </ul>
              </li>
          </ul>
      </div>
      <div class="modal-footer">
          <button class="btn btn-warning" type="button" ng-click="close()">close</button>
      </div>
    </div>
  </script>

  <body>
    <div ng-controller="MainCtrl" class="container">
      <uib-tabset>
        <uib-tab ng-repeat="tab in tabs" heading="{{tab.title}}" active="tab.active" style="width:50%">
          <div ng-show="tab.active">
            <form>
              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-addon"><i class="fa fa-search"></i></div>

                  <input type="text" class="form-control" placeholder="filter here..." ng-model="characterSearchText" ng-show="tab.title == 'Characters'">
                  <input type="text" class="form-control" placeholder="filter here..." ng-model="weaponSearchText" ng-show="tab.title == 'Weapons'">

                </div>
              </div>
            </form>
            <div class="row" ng-repeat="(charType, charList) in characters" ng-show="tab.title == 'Characters'">
              <div>{{charType}}</div>
              <hr />
              <div character-item class="col-xs-3"
                   ng-repeat="char in charList | orderBy:char.Name:false | filter:characterSearchText:strict" style="width:50px">
              </div>
            </div>
            <div class="row" ng-repeat="(weaponType, weaponList) in weapons" ng-show="tab.title == 'Weapons'">
              <div>{{weaponType}}</div>
              <hr />
              <div character-item class="col-md-8"
                   ng-repeat="weapon in weaponList | orderBy:Name " style="width:50px">
              </div>
            </div>
          </div>
        </uib-tab>
      </uib-tabset>
      <hr />
    </div>
  </body>
</html>
