body { padding-top: 70px; }

@media (max-width: 600px) {
  .rs_character {
    width: 100px;
    height: 100px;
  }
}

@media (min-width: 601px) {
  .rs_character {
    width: 100px;
    height: 100px;
  }
}

.leader_skills {

}

.leader_skill_name {
  font-weight: bold;
}

.leader_skill_description {

}

.intro_message {
  font-size: 20px;
  text-align: center;
}

.home_table_header {
  font-size: 1.5em;
  font-weight: bold;
}

.weapon_headers {
  font-size: 20px;
  font-weight: bold;
}

.weapon_type_header {
  font-size: 20px;
  font-weight: bold;
}

.character_type_header {
  font-size: 20px;
  font-weight: bold;
}

.stat_hp {
  color: green;
  display: inline;
  text-align: center;
  vertical-align: middle;
  height: 100%;
}

.stat_sp {
  color: purple;
  display: inline;
  text-align: center;
  vertical-align: middle;
}

.stat_atk {
  color: red;
  display: inline;
  text-align: center;
  vertical-align: middle;
}

.stat_def {
  color: lightblue;
  display: inline;
  text-align: center;
  vertical-align: middle;
}

.stat_crit {
  color: orange;
  display: inline;
  text-align: center;
  vertical-align: middle;
}

.primary-filter {

}
