<!doctype html>
<html ng-app="app">
  <head>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-animate.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.1.2.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-smart-table/2.1.7/smart-table.min.js"></script>
    <script src="/static/app.js"></script>
    <link href="//bootswatch.com/superhero/bootstrap.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/index.css" rel="stylesheet">

  </head>

  <body>
    <div ng-controller="MainCtrl" class="container">
      <uib-tabset>
        <uib-tab ng-repeat="tab in tabs" heading="{{tab.title}}" active="tab.active" style="width:50%">
          <div ng-show="tab.active">
            <form>
              <div class="form-group">
                <!-- The class filter toggles-->
                <div class="btn-group" ng-show="tab.title == 'Characters'">
                    <label class="btn btn-primary" ng-model="classFilterModel['lancer']" uib-btn-checkbox>Lancer</label>
                    <label class="btn btn-primary" ng-model="classFilterModel['brawler']" uib-btn-checkbox>Brawler</label>
                    <label class="btn btn-primary" ng-model="classFilterModel['fencer']" uib-btn-checkbox>Fencer</label>
                    <label class="btn btn-primary" ng-model="classFilterModel['mage']" uib-btn-checkbox>Mage</label>
                    <label class="btn btn-primary" ng-model="classFilterModel['sniper']" uib-btn-checkbox>Sniper</label>
                    <label class="btn btn-primary" ng-model="classFilterModel['dualsaber']" uib-btn-checkbox>Dual Saber</label>
                    <label class="btn btn-primary" ng-model="classFilterModel['dragonrider']" uib-btn-checkbox>Dragon Rider</label>
                </div>
                <div class="btn-group" ng-show="tab.title == 'Weapons'">
                    <label class="btn btn-primary" ng-model="weaponFilterModel['lancer']" uib-btn-checkbox>Lancer</label>
                    <label class="btn btn-primary" ng-model="weaponFilterModel['brawler']" uib-btn-checkbox>Brawler</label>
                    <label class="btn btn-primary" ng-model="weaponFilterModel['fencer']" uib-btn-checkbox>Fencer</label>
                    <label class="btn btn-primary" ng-model="weaponFilterModel['mage']" uib-btn-checkbox>Mage</label>
                    <label class="btn btn-primary" ng-model="weaponFilterModel['sniper']" uib-btn-checkbox>Sniper</label>
                    <label class="btn btn-primary" ng-model="weaponFilterModel['dualsaber']" uib-btn-checkbox>Dual Saber</label>
                    <label class="btn btn-primary" ng-model="weaponFilterModel['dragonrider']" uib-btn-checkbox>Dragon Rider</label>
                </div>

                <div class="input-group">
                  <div class="input-group-addon"><i class="fa fa-search"></i></div>

                  <input type="text" class="form-control" placeholder="filter here..." ng-model="characterSearchText" ng-show="tab.title == 'Characters'">
                  <input type="text" class="form-control" placeholder="filter here..." ng-model="weaponSearchText" ng-show="tab.title == 'Weapons'">

                </div>
              </div>
            </form>
            <div class="row" ng-repeat="(charType, charList) in characters" ng-show="tab.title == 'Characters' && characterClassFilter(charType)">
              <div>{{charType}}</div>
              <hr />
              <div character-item class="col-xs-3 rs_character"
                   ng-repeat="char in charList | orderBy:char.Name:false | filter:characterSearchText:strict">
              </div>
            </div>
            <div class="row" ng-repeat="(weaponType, weaponList) in weapons" ng-show="tab.title == 'Weapons' && weaponClassFilter(weaponType)">
              <div>{{weaponType}}</div>
              <hr />
              <div class="container">
                <div class="row weapon_headers">
                  <div class="col-xs-1 weapon_header">
                    Name
                  </div>
                  <div class="col-xs-2 weapon_header">
                    Character
                  </div>
                  <div class="col-xs-1 weapon_header">
                    ATK
                  </div>
                  <div class="col-xs-1 weapon_header">
                    DEF
                  </div>
                  <div class="col-xs-1 weapon_header">
                    CRIT
                  </div>
                  <div class="col-xs-1 weapon_header">
                    Effect
                  </div>
                  <div class="col-xs-1 weapon_header">
                    Attribute
                  </div>
                  <div class="col-xs-4 weapon_header">
                    Passives
                  </div>
                </div>

                <div weapon-item class="row"
                     ng-repeat="weapon in weaponList | orderBy:weapon.Name:false | filter:weaponSearchText:strict ">
                </div>
              </div>
            </div>
            <div class="intro_message" ng-show="showIntroMessage()">Click a class filter above to begin!</div>
          </div>
        </uib-tab>
      </uib-tabset>
      <hr />
    </div>
  </body>
</html>
