<div title="c:{{::weapon.OwnerId}} w:{{::weapon.Id}}" class="weapon_item col-xs-2" ng-click="weapon.popupWeapon(weapon)" >
  {{::weapon.Name}}
</div>
<div class="col-xs-2">
  <!-- <img src="{{weapon.CharacterIconUrl}}" class="rs_character" ng-click="popupCharacter(weapon.OwnerId)" /> -->
  <div class="rs_character sprite-images-{{weapon.OwnerId}}" ng-click="popupCharacter(weapon.OwnerId)"></div>
</div>
<div class="col-xs-1 stat_atk">
  {{::weapon.Attack}}
</div>
<div class="col-xs-1 stat_def">
  {{::weapon.Defense}}
</div>
<div class="col-xs-1 stat_crit">
  {{::weapon.Crit}}
</div>
<div class="col-xs-1">
  {{::weapon.Effect}}
</div>
<div class="col-xs-1">
  {{::weapon.Attribute}}
</div>
<div class="col-xs-3">
  <ul>
    <li ng-repeat="passive in weapon.Passives track by $index">
      {{::passive}}
    </li>
  </ul>
</div>
